<div class="wide-container double-gutter section-spacing" data-section-type="featured-products">
  {% if section.settings.title != blank %}
  <h1 class="section-title">{{ section.settings.title | link_to: collections[section.settings.collection].url }}</h1>
  {% endif %}
  
  <div class="product-list {% if section.settings.coll_layout == 'columns' %}jiggly-split dynamic-col-{{ section.settings.coll_layout_per_row }}{% endif %}">
    {% if section.settings.coll_layout == 'rows' %}
    {% if section.settings.coll_layout_per_row == "2" %}
    {% assign product_class = 'column half' %}
    {% elsif section.settings.coll_layout_per_row == "3" %}
    {% assign product_class = 'column third' %}
    {% else %}
    {% assign product_class = 'column quarter' %}
    {% endif %}
    {% endif %}
    
    {% if section.settings.collection != blank %}
    
    {% assign collection = collections[section.settings.collection] %}
      {% for asset in collection.products %}
    
        {% assign controlled_listing = false %}
        {% assign control_options = ";" %}
        {% for tag in asset.tags %}
          {% if tag contains "meta-list-" %}
            {% assign controlled_listing = true %}
            {% assign this_colour = tag | remove: "meta-list-" %}
            {% assign control_options = control_options | append: this_colour | append: ";" %}
          {% endif %}
        {% endfor %}
    
        {% assign done_colours = "" %}
        {% assign variant_number = blank %}
      
        {% for option in asset.options %}
		{% if option == "Color" or option == "Colour" %}
        {% assign variant_number = "option" | append: forloop.index %}
      	{% endif %}
        {% endfor %}

        {% if variant_number == blank %}
        {% comment "There is no colour variant" %}{% endcomment %}
        {% include 'product-block', actual_product: asset %}
        {% else %}

        {% for product in asset.variants %}
      
	    {% assign colour_check = ";" | append: product[variant_number] | append: ";" %}
      
      	{% unless done_colours contains colour_check %}
    	  {% if controlled_listing == false or control_options contains colour_check %}
            {% include 'product-block', actual_product: asset %}
            {% assign done_colours = done_colours | append: colour_check %}
    	  {% endif %}
        {% endunless %}
      
      {% endfor %}
      {% endif %}
      
      {% endfor %}
    
    {% else %}
    
    {% for i in (1..6) %}
    {% include 'onboarding-product-block' %}
    {% endfor %}
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Featured collection",
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
		"default": "Featured collection"
	  },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "coll_layout",
        "label": "Product layout",
        "options": [
          {
            "value": "columns",
            "label": "Collage"
          },
          {
            "value": "rows",
            "label": "Grid"
          }
        ],
        "default": "columns"
      },
      {
        "type": "select",
        "id": "coll_layout_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ],
        "default": "3"
      },
      {
        "type": "select",
        "id": "coll_captionmode",
        "label": "Title and price layout",
		"default": "over-hover",
        "options": [
          {
            "value": "over-hover",
            "label": "Overlay - on hover"
          },
          {
            "value": "under",
            "label": "Underneath the image"
          },
          {
            "value": "hide",
            "label": "Hidden (not shown)"
          }
        ]
      }
	],
	"presets": [
	  {
		"name": "Featured collection",
        "category": "Collection",
        "settings": {}
	  }
	]
  }
{% endschema %}
